#qa_box {
  max-height: calc(100vh - 160px) !important;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#qa_box::-webkit-scrollbar {
  width: 5px;
}

#qa_box::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#qa_box::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 100px;
}
